.ul {
  display: flex;
  margin-right: 25px;
}
.li {
  list-style: none;
  padding: 0 5px;
}
.a {
  text-decoration: none;
  color: aliceblue;
  transition: 0.5s;
}

.a:hover {
  color: blueviolet;
  border-bottom: 2px solid blueviolet;
}