---

---

<div class="flex gap-3 max-[480px]:gap-2">
  <button
    class="transition-all duration-500 rounded bg-transparent border-2 border-primary hover:scale-110"
    onclick={`location.href='https://github.com/DiegoGp227'`}
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="35"
      height="35"
      viewBox="0 0 24 24"
    >
      <path
        fill="none"
        stroke="blueviolet"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 22v-3q0-2 1-3A7 6.5 0 0 1 5 5Q4 3 5 1q3 0 4 2q3.5-1 7 0q1-2 4-2q1 2 0 4a7 6.5 0 0 1-5 11q1 1 1 3v3m-7-3c-4 1-4-2-7-3"
        stroke-dasharray="100"
        stroke-dashoffset="100"
      >
        <animate
          attributeName="stroke-dashoffset"
          dur="1s"
          values="100;0"
          fill="freeze"
          repeatCount="1"></animate>
      </path>
    </svg>
  </button>

  <button
    class=" transition-all duration-500 rounded bg-transparent border-2 border-primary hover:scale-110"
    onclick={`location.href='https://www.linkedin.com/in/diego-gongora-p'`}
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      width="35"
      height="35"
      viewBox="0 0 24 24"
      ><circle cx="4" cy="4" r="2" fill="blueviolet" fill-opacity="0"
        ><animate
          fill="freeze"
          attributeName="fill-opacity"
          dur="0.15s"
          values="0;1"></animate></circle
      ><g
        fill="none"
        stroke="blueviolet"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="4"
        ><path stroke-dasharray="12" stroke-dashoffset="12" d="M4 10v10"
          ><animate
            fill="freeze"
            attributeName="stroke-dashoffset"
            begin="0.15s"
            dur="0.2s"
            values="12;0"></animate></path
        ><path stroke-dasharray="12" stroke-dashoffset="12" d="M10 10v10"
          ><animate
            fill="freeze"
            attributeName="stroke-dashoffset"
            begin="0.45s"
            dur="0.2s"
            values="12;0"></animate></path
        ><path
          stroke-dasharray="24"
          stroke-dashoffset="24"
          d="M10 15c0 -2.76 2.24 -5 5 -5c2.76 0 5 2.24 5 5v5"
          ><animate
            fill="freeze"
            attributeName="stroke-dashoffset"
            begin="0.65s"
            dur="0.2s"
            values="24;0"></animate></path
        ></g
      ></svg
    ></button
  >
  <button
    class="transition-all duration-500 rounded bg-transparent border-2 border-primary hover:scale-110"
    onclick={`location.href='https://app.slack.com/client/T08PGNJUTDM/C08PGNK30CF/rimeto_profile/U08QLGW4HNC'`}
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="35"
      height="35"
      viewBox="0 0 24 24"
    >
      <path
        d="M2 14.67a2 2 0 1 0 4 0v-2H4a2 2 0 0 0-2 2m12.64-3.34a2 2 0 0 0 2-2V4a2 2 0 1 0-4 0v5.33a2 2 0 0 0 2.02 2Zm7.32-2a2 2 0 1 0-4 0v2h2a2 2 0 0 0 2.04-2ZM9.34 12.67a2 2 0 0 0-2 2V20a2 2 0 1 0 4 0v-5.33a2 2 0 0 0-2-2M14.66 18h-2v2a2 2 0 1 0 2-2M20 12.67h-5.34a2 2 0 0 0 0 4H20a2 2 0 0 0 0-4M9.34 7.33H4a2 2 0 1 0 0 4h5.34a2 2 0 0 0 0-4m0-5.33a2 2 0 0 0 0 4h2V4a2 2 0 0 0-2-2"
        fill="none"
        stroke="blueviolet"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-dasharray="320"
        stroke-dashoffset="320"
      >
        <animate
          attributeName="stroke-dashoffset"
          dur="3.5s"
          values="320;0"
          fill="freeze"
          repeatCount="1"
          keySplines="0.4 0 0.2 1"
          calcMode="spline"></animate>
      </path>
    </svg>
  </button>
</div>
