---

---

<div class="w-full p-[15px] flex justify-center items-center mt-10 md:w-[40vw]">
  <img
    src="/Assets/ImgProfile.png"
    alt=""
    class="w-[340px] rounded-full border-2 border-primary shadow-[0_0_5px_blueviolet,0_0_10px_blueviolet,0_0_20px_blueviolet,0_0_40px_blueviolet]"
  />
</div>
