---
import style from "./style.module.css";
---

<nav class={style.nav} >
  <button class={style.button}>Sobre Mi!</button>
  <button class={style.button}>Proyectos!</button>
  <button class={style.button}>Contactame!</button>
</nav>
