---

---

<nav class="flex gap-2.5 md:gap-2 max-[480px]:gap-1.5">
  <button
    class="text-main-white text-base font-medium bg-transparent cursor-pointer border-2 border-primary rounded transition-all duration-500 hover:scale-110 hover:bg-primary h-10 min-w-[100px]"
    onclick={`location.href='/AboutMe'`}>Sobre Mi!</button
  >
  <button
    class="text-main-white text-base font-medium bg-transparent cursor-pointer border-2 border-primary rounded transition-all duration-500 hover:scale-110 hover:bg-primary h-10 min-w-[100px]"
    onclick={`location.href='/Experience'`}>Proyectos!</button
  >
  <button
    class="text-main-white text-base font-medium bg-transparent cursor-pointer border-2 border-primary rounded transition-all duration-500 hover:scale-110 hover:bg-primary h-10 min-w-[100px]"
    onclick={`location.href='/Contact'`}>Contactame!</button
  >
</nav>
