---
const { title, link } = Astro.props;
import style from "./style.module.css";
---

<div class={style.svgDiv} onclick={`window.location.href='${link}'`}>
  <slot name="icon" />
  <p class={style.p}>{title}</p>
</div>