.divGeneral {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.divLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.divTitleTechnologies {
  width: 100%;
  height: auto;
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secctionTechnologies {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}

.divRight {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.secondInformation {
  width: 500px;
  height: 200px;
  background-color: #181039;
  margin-top: 30px;
  border-radius: 5px;
  padding: 20px;
}

.textSegundary {
  color: aliceblue;
  text-align: start;
}

.titleSubSecction {
  color: aliceblue;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
