.divGeneral {
    width: 100%;
}

.divTitle {
  width: 100%;
  margin: 10px 0 10px 0;
  height: 50px;
  display: flex;
  justify-content: center;
}

.title {
  color: blueviolet;
  font-size: 50px;
}

.divText {
  width: 100%;
  margin: 10px 0 10px 0;
  height: 100px;
}

.text {
  color: aliceblue;
  text-align: center;
}

.divButtons {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.button {
  width: 48%;
  height: 30px;
  padding: 5px;
  color: blueviolet;
  cursor: pointer;
  background-color: #0a0522;
  border: 2px solid blueviolet;
  border-radius: 5px;
  transition: 0.5s;
}

.button:hover {
  background-color: blueviolet;
  color: antiquewhite;
}