.divGeneral {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleDiv {
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 50px;
  color: blueviolet;
}

.main {
  width: 800px;
  background-color: #2f0a51;
  background: linear-gradient(to right, #2f0a51, #6d3b9c);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #0a0522;
}

.myRedesDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.svg {
  height: 120px;
  width: 120px;
  animation: spin 20s linear infinite;
}

.divItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-start;
  padding: 10px;
  gap: 7px;
}

.svgRed {
  width: 25px;
  height: 25px;
}

.redDiv {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  width: 240px;
  width: 100%;
  gap: 20px;
  padding: 8px;
  transition: background ease 0.4s;
  &:hover {
    background: #7b4ac5;
    transition: background ease 0.4s;
  }
}

.textRed {
  text-decoration: none;
  color: aliceblue;
}

.formDiv {
  display: flex;
  width: 500px;
  background-color: #0a0522;
  padding: 35px;
}

.form {
  width: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.labelForm {
  color: aliceblue;
}

.inputForm {
  width: 40%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 2px solid blueviolet;
  background-color: #0a0522;
  color: aliceblue;
}

.inputForm:focus {
  outline: none;
  border: 2px solid transparent;
  background-image: linear-gradient(#0a0522, #0a0522),
    linear-gradient(to right, blueviolet, #6d3b9c);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow: 0 0 8px #6d3b9c;
}

.inputOne,
.inputTwo {
  width: 100%;
}

.inputTree {
  width: 100%;
  height: 100px;
  max-width: 100%; /* esto lo que hace es que el textarea no se expanda todo lo que quiera*/
  max-height: 100px;
  min-height: 100px;
  min-width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border: 10px;
  width: 100%;
  background-color: #0a0522;
  border: 2px solid blueviolet;
  margin-top: 20px;
  border-radius: 5px;
  color: blueviolet;
  cursor: pointer;
  transition: 0.5s;
}

.button:hover {
  background-color: blueviolet;
  transition: background-color ease 2s;
  color: aliceblue;
  & path {
    fill: #ffff;
  }
}
