main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.divInfo{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.divImg {
    width: 50%;
    height: 100vh;
    background-color: #0a0522;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .divInfo,
  .divImg {
    width: 100vw;
    height: auto; /* se ajusta al contenido */
    justify-content: center;
  }

  .divImg {
    min-height: 40vh; /* asegura que el gif/fondo se vea */
  }
}