---
---

<div class="flex justify-center flex-wrap md:flex md:justify-center md:flex-wrap">
  <a href="https://es.react.dev/" class="inline-block m-1.5 py-1.5 px-3 bg-[#23013c] border-2 border-[#23013c] rounded text-[#f0f8ff] text-base font-medium no-underline transition-all duration-500 hover:scale-110 hover:border-[blueviolet] md:m-1.5 md:text-sm max-[480px]:text-xs max-[480px]:py-1 max-[480px]:px-2">React</a>
  <a href="https://www.typescriptlang.org/" class="inline-block m-1.5 py-1.5 px-3 bg-[#23013c] border-2 border-[#23013c] rounded text-[#f0f8ff] text-base font-medium no-underline transition-all duration-500 hover:scale-110 hover:border-[blueviolet] md:m-1.5 md:text-sm max-[480px]:text-xs max-[480px]:py-1 max-[480px]:px-2">Typescrip</a>
  <a href="https://astro.build/" class="inline-block m-1.5 py-1.5 px-3 bg-[#23013c] border-2 border-[#23013c] rounded text-[#f0f8ff] text-base font-medium no-underline transition-all duration-500 hover:scale-110 hover:border-[blueviolet] md:m-1.5 md:text-sm max-[480px]:text-xs max-[480px]:py-1 max-[480px]:px-2">Astro</a>
  <a href="https://development-lkp2486.slack.com/team/U08QLGW4HNC" class="inline-block m-1.5 py-1.5 px-3 bg-[#23013c] border-2 border-[#23013c] rounded text-[#f0f8ff] text-base font-medium no-underline transition-all duration-500 hover:scale-110 hover:border-[blueviolet] md:m-1.5 md:text-sm max-[480px]:text-xs max-[480px]:py-1 max-[480px]:px-2">Slack</a>
  <a href="https://github.com/DiegoGp227" class="inline-block m-1.5 py-1.5 px-3 bg-[#23013c] border-2 border-[#23013c] rounded text-[#f0f8ff] text-base font-medium no-underline transition-all duration-500 hover:scale-110 hover:border-[blueviolet] md:m-1.5 md:text-sm max-[480px]:text-xs max-[480px]:py-1 max-[480px]:px-2">GitHub</a>
</div>
