<div class="flex justify-center flex-wrap gap-5">
  <a
    href="https://es.react.dev/"
    class="py-1 px-8
           bg-[#23013c] border-2 border-[#23013c]
           rounded text-main-white min-h-[30px] flex justify-center items-center text-base sm:text-2xl
           no-underline transition-all duration-500
           hover:scale-110 hover:border-primary"
  >
    React
  </a>

  <a
    href="https://www.typescriptlang.org/"
    class="py-1 px-8
           bg-[#23013c] border-2 border-[#23013c]
           rounded text-main-white min-h-[30px] flex justify-center items-center text-base sm:text-2xl
           no-underline transition-all duration-500
           hover:scale-110 hover:border-primary"
  >
    TypeScript
  </a>

  <a
    href="https://astro.build/"
    class="py-1 px-8
           bg-[#23013c] border-2 border-[#23013c]
           rounded text-main-white min-h-[30px] flex justify-center items-center text-base sm:text-2xl
           no-underline transition-all duration-500
           hover:scale-110 hover:border-primary"
  >
    Astro
  </a>

  <a
    href="https://development-lkp2486.slack.com/team/U08QLGW4HNC"
    class="py-1 px-8
           bg-[#23013c] border-2 border-[#23013c]
           rounded text-main-white min-h-[30px] flex justify-center items-center text-base sm:text-2xl
           no-underline transition-all duration-500
           hover:scale-110 hover:border-primary"
  >
    Slack
  </a>

  <a
    href="https://github.com/DiegoGp227"
    class="py-1 px-8
           bg-[#23013c] border-2 border-[#23013c]
           rounded text-main-white min-h-[30px] flex justify-center items-center text-base sm:text-2xl
           no-underline transition-all duration-500
           hover:scale-110 hover:border-primary"
  >
    GitHub
  </a>
</div>
