---
import Buttons from "../Buttons/index.astro";
import style from "./style.module.css";
---

<section class={style.secction}>
  <h1 class={style.titleOne}>Hola! Yo soy</h1>
  <h1 class={style.titleTwo}>Diego Gongora</h1>
  <p class={style.text}>
    Soy un desarrollador web frontend enfocado en crear interfaces intuitivas,
    funcionales y visualmente atractivas. Me apasiona convertir ideas en
    experiencias digitales reales, cuidando cada detalle del diseño y la
    usabilidad. Siempre estoy aprendiendo nuevas tecnologías para seguir
    creciendo y ofrecer soluciones modernas y eficientes.
  </p>
  <Buttons/>
</section>
