---
import InfoPage from "../../../Components/Projects/molecules/InfoPage.astro";
import FeaturesTaskly from "../../../Components/Projects/molecules/FeaturesTaskly.astro";
import ImgDiv from "../../../Components/Projects/ImgDiv/ImgDiv.astro";
import Layout from "../../Layout.astro";
import TecnologiesTaskly from "../../../Components/Projects/molecules/TecnologiesTaskly.astro";
---

<Layout>
  <div class="w-screen flex mt-10">
    <div class="flex flex-col lg:flex-row items-center">
      <div
        class="w-screen flex flex-col justify-center items-center p-5 lg:w-1/2"
      >
        <InfoPage
          title="Taskly"
          text="Taskly es una aplicación web que te ayuda a organizar tus tareas agrupándolas por temas. Cada tema tiene su propia vista, permitiéndote separar claramente distintas áreas y concentrarte solo en lo relevante en cada momento. Con una interfaz simple y enfoque estructurado, Taskly te ofrece orden, claridad y control sobre tus pendientes."
          linkPage="https://taskly.devdiego.work/login"
          linkGit="https://github.com/DiegoGp227/taskly-v2"
        />
        <TecnologiesTaskly />
      </div>

      <div
        class="w-full flex justify-center items-center flex-col p-5 lg:w-1/2"
      >
        <ImgDiv src="/Assets/taskly.png" />
        <FeaturesTaskly />
      </div>
    </div>
  </div>
</Layout>
