<div class="w-[500px] bg-[#181039] mt-8 rounded-md p-5">
  <h3 class="text-primary text-4xl font-bold flex justify-center items-center">
    Funcionalidades
  </h3>

  <ul class="text-[aliceblue] text-start mt-3 list-disc pl-6">
    <li>Registro de usuarios en local</li>
    <li>Validaci칩n de usuarios en local</li>
    <li>Integraci칩n con API de Strava</li>
    <li>Dashboard personalizado</li>
    <li>An치lisis de rendimiento</li>
    <li>Comparaci칩n por periodos</li>
  </ul>
</div>
