<div class="w-[500px] bg-[#181039] mt-8 rounded-md p-5">
  <h3 class="text-primary text-4xl font-bold flex justify-center items-center">
    Funcionalidades
  </h3>

  <ul class="text-[aliceblue] text-start mt-3 list-disc pl-6">
    <li>Registro de usuarios en local</li>
    <li>Validaci칩n de usuarios en local</li>
    <li>Integraci칩n con API de Strava</li>
    <li>Dashboard personalizado</li>
    <li>An치lisis de rendimiento</li>
    <li>Comparaci칩n por periodos</li>
  </ul>

  <!-- CONTENEDOR CENTRADO -->
  <div class="flex justify-center mt-3">
    <div
      class="flex items-center gap-2 py-2 px-4 bg-hard-purple border border-primary rounded-full w-fit"
    >
      <p class="text-main-white text-sm font-medium">Estado:</p>
      <span class="text-green-500 text-sm font-semibold">Terminado</span>
    </div>
  </div>
</div>
