<div class="w-[500px] bg-[#181039] mt-8 rounded-md p-5">
  <h3 class="text-primary text-4xl font-bold flex justify-center items-center">
    Funcionalidades
  </h3>

  <ul class="text-[aliceblue] text-start mt-3 list-disc pl-6">
    <li>Registro de usuarios con correo y contraseña encriptada</li>
    <li>Gestión de ingresos y gastos con fecha y descripción</li>
    <li>Clasificación de ingresos y gastos por categorías</li>
    <li>Registro de deudas con monto total</li>
    <li>Gestión de sueños como lista personalizable</li>
    <li>Datos privados por usuario para seguridad y control</li>
  </ul>

  <!-- CONTENEDOR CENTRADO -->
  <div class="flex justify-center mt-3">
    <div
      class="flex items-center gap-2 py-2 px-4 bg-hard-purple border border-primary rounded-full w-fit"
    >
      <p class="text-main-white text-sm font-medium">Estado:</p>
      <span class="text-red-500 text-sm font-semibold">En Desarollo</span>
    </div>
  </div>
</div>
