<div class="max-w-[500px] bg-[#181039] mt-8 rounded-md p-5">
  <h3 class="text-primary text-4xl font-bold flex justify-center items-center">
    Funcionalidades
  </h3>

  <ul class="text-[aliceblue] text-start mt-3 list-disc pl-6">
    <li>Registro y autenticación de usuarios</li>
    <li>Creación de múltiples temas para organizar tareas</li>
    <li>
      Gestión de tareas dentro de cada tema (por hacer, en progreso,
      finalizadas)
    </li>
    <li>Edición y eliminación de tareas</li>
    <li>Dashboard personalizado por usuario</li>
    <li>Visualización clara de progreso por tema</li>
    <li>Notas y descripciones opcionales para tareas</li>
    <li>Interfaz simple e intuitiva para enfocarse en lo importante</li>
  </ul>

  <!-- CONTENEDOR CENTRADO -->
  <div class="flex justify-center mt-3">
    <div
      class="flex items-center gap-2 py-2 px-4 bg-hard-purple border border-primary rounded-full w-fit"
    >
      <p class="text-main-white text-sm font-medium">Estado:</p>
      <span class="text-green-500 text-sm font-semibold">Terminado</span>
    </div>
  </div>
</div>
