---

---

<div class="max-w-[500px] bg-[#181039] mt-8 rounded-md p-5">
  <h3 class="text-primary text-4xl font-bold flex justify-center items-center">
    Funcionalidades
  </h3>

  <ul class="text-[aliceblue] text-start mt-3 list-disc pl-6">
    <li>Servidor autohospedado con Raspberry Pi 5</li>
    <li>Aislamiento y orquestación mediante contenedores Docker (un stack por proyecto)</li>
    <li>Despliegue modular con Docker Compose</li>
    <li>Tunel Manejado por Cloudfare</li>
    <li>IP fija para acceso remoto</li>
    <li>Arquitectura ligera y de bajo consumo energético</li>
    <li>Entorno pensado para producción real en proyectos reales</li>
    <li>Pipeline de Integración Continua (CI) al realizar push a main</li>
    <li>Despliegue Continuo (CD) automático hacia la Raspberry Pi</li>
    <li>Notificaciones en tiempo real del estado del despliegue vía Telegram</li>
  </ul>

  <!-- CONTENEDOR CENTRADO -->
  <div class="flex justify-center mt-3">
    <div
      class="flex items-center gap-2 py-2 px-4 bg-hard-purple border border-primary rounded-full w-fit"
    >
      <p class="text-main-white text-sm font-medium">Estado:</p>
      <span class="text-green-500 text-sm font-semibold">Terminado</span>
    </div>
  </div>
</div>
