---
const { title, text, linkPage, linkGit } = Astro.props;
---

<div class="w-full flex flex-col gap-5">
  <!-- Título -->
  <div class="w-full my-2.5 h-[50px] flex justify-center">
    <h1 class="text-primary text-[50px] font-bold">
      {title}
    </h1>
  </div>

  <!-- Texto -->
  <div class="w-full my-2.5">
    <p class="text-[aliceblue] text-center">
      {text}
    </p>
  </div>

  <!-- Botones -->
  <div class="w-full flex flex-col sm:flex-row gap-3">
    <button
      class="w-full sm:w-[48%] h-10 py-2 text-primary bg-hard-purple border-2 border-primary rounded-md transition duration-500 hover:bg-primary hover:text-[antiquewhite] cursor-pointer flex justify-center items-center"
      onclick={`window.open('${linkPage}', '_blank')`}
    >
      Page
    </button>

    <button
      class="w-full sm:w-[48%] h-10 py-2 text-primary bg-hard-purple border-2 border-primary rounded-md transition duration-500 hover:bg-primary hover:text-[antiquewhite] cursor-pointer flex justify-center items-center"
      onclick={`window.open('${linkGit}', '_blank')`}
    >
      Github
    </button>
  </div>
</div>
