---
import Linux from "../../../Components/Projects/Technologies//Linux.astro";
import Docker from "../../../Components/Projects/Technologies/Docker.astro";
import Cloudflare from "../../../Components/Projects/Technologies/Cloudflare.astro";
import DockerCompose from "../../../Components/Projects/Technologies/DockerCompose.astro";
import GitHub from "../../../Components/Projects/Technologies/GitHub.astro";
import Mysql from "../../../Components/Projects/Technologies/Mysql.astro";
import Raspberry from "../Technologies/Raspberry.astro";
---

<div>
  <div class="w-full my-5 flex justify-center items-center">
    <h2 class="text-[aliceblue] text-2xl font-semibold">Tecnologias</h2>
  </div>

  <div class="flex gap-5 flex-wrap justify-center w-[90%]">
    <Raspberry />
    <Linux />
    <Cloudflare />
    <Docker />
    <DockerCompose />
    <GitHub />
  </div>
</div>
