---
import Html from "../../../Components/Projects/Technologies/Html.astro";
import Css from "../../../Components/Projects/Technologies/Css.astro";
import Javascript from "../../../Components/Projects/Technologies/JavaScript.astro";
import React from "../../../Components/Projects/Technologies/React.astro";
import AstroFrame from "../../../Components/Projects/Technologies/Astro.astro";
import Bun from "../../../Components/Projects/Technologies/Bun.astro";
import Elysia from "../../../Components/Projects/Technologies/Elysia.astro";
---

<div>
  <div class="w-full my-5 flex justify-center items-center">
    <h2 class="text-[aliceblue] text-2xl font-semibold">Tecnologias</h2>
  </div>

  <div class="flex gap-5 flex-wrap justify-center w-[90%]">
    <Css />
    <Html />
    <Javascript />
    <React />
    <AstroFrame />
    <Bun />
    <Elysia />
  </div>
</div>
