---
import Html from "../../../Components/Projects/Technologies/Html/index.astro";
import Css from "../../../Components/Projects/Technologies/Css/index.astro";
import Javascript from "../../../Components/Projects/Technologies/Javascript/index.astro";
import React from "../../../Components/Projects/Technologies/React/index.astro";
import Node from "../../../Components/Projects/Technologies/Node/index.astro";
import Express from "../../../Components/Projects/Technologies/Express/index.astro";
import Mysql from "../../../Components/Projects/Technologies/Mysql/index.astro";
---

<div>
  <div class="w-full my-5 flex justify-center items-center">
    <h2 class="text-[aliceblue] text-2xl font-semibold">Tecnologias</h2>
  </div>

  <div class="flex gap-5 flex-wrap justify-center w-[90%]">
    <Css />
    <Html />
    <Javascript />
    <React />
    <Node />
    <Express />
    <Mysql />
  </div>
</div>
