---
import Html from "../../../Components/Projects/Technologies/Html.astro";
import Css from "../../../Components/Projects/Technologies/Css.astro";
import Javascript from "../../../Components/Projects/Technologies/JavaScript.astro";
import React from "../../../Components/Projects/Technologies/React.astro";
import Node from "../../../Components/Projects/Technologies/Node.astro";
import Express from "../../../Components/Projects/Technologies/Express.astro";
import Postgres from "../../../Components/Projects/Technologies/Postgres.astro";
import NextJs from "../Technologies/NextJs.astro";
import Prisma from "../Technologies/Prisma.astro";
---

<div>
  <div class="w-full my-5 flex justify-center items-center">
    <h2 class="text-[aliceblue] text-2xl font-semibold">Tecnologias</h2>
  </div>

  <div class="flex gap-5 flex-wrap justify-center w-[90%]">
    <Css />
    <Html />
    <Javascript />
    <React />
    <NextJs />
    <Node />
    <Express />
    <Prisma />
    <Postgres />
  </div>
</div>
