---

---

<header
  class="w-screen sticky h-[60px] flex justify-between items-center top-0 left-0 bg-transparent backdrop-blur-[10px] px-5 box-border"
>
  <a
    href="/"
    class="text-3xl ml-6 text-main-white font-semibold transition-colors duration-300 hover:text-primary"
    >Diego Gongora</a
  >

  <nav class="mr-6">
    <ul class="flex m-0 p-0 gap-5">
      <li class="list-none ml-4">
        <a
          href="/"
          class="no-underline text-main-white transition-all duration-500 py-2.5 px-[15px] block hover:text-primary hover:border-b-2 hover:border-primary"
          >Inicio</a
        >
      </li>
      <li class="list-none ml-4">
        <a
          href="/AboutMe"
          class="no-underline text-main-white transition-all duration-500 py-2.5 px-[15px] block hover:text-primary hover:border-b-2 hover:border-primary"
          >Sobre Mí</a
        >
      </li>
      <li class="list-none ml-4">
        <a
          href="/Experience"
          class="no-underline text-main-white transition-all duration-500 py-2.5 px-[15px] block hover:text-primary hover:border-b-2 hover:border-primary"
          >Proyectos</a
        >
      </li>
      <li class="list-none ml-4">
        <a
          href="/Contact"
          class="no-underline text-main-white transition-all duration-500 py-2.5 px-[15px] block hover:text-primary hover:border-b-2 hover:border-primary"
          >Contactame</a
        >
      </li>
    </ul>
  </nav>
</header>