---
import style from "./style.module.css";
---

<div class={style.div}>
  <h1 class={style.titleOne}>Frontend</h1>
  <h1 class={style.titleTwo}>Developer</h1>
  <p class={style.p}>
    ¡Hola! Soy desarrollador web con enfoque en frontend, pero también disfruto
    el backend. Me gusta crear experiencias digitales claras y funcionales,
    aprender constantemente y mejorar en cada proyecto. En este portafolio verás
    algunos de los proyectos que he realizado.
  </p>
</div>
