---
---

<div class="w-full flex justify-center items-center flex-col gap-1.5">
  <h1 class="text-[#f0f8ff] text-5xl md:text-4xl max-[480px]:text-3xl font-bold">Frontend</h1>
  <h1 class="text-[blueviolet] text-5xl md:text-4xl max-[480px]:text-3xl font-bold">Developer</h1>
  <p class="w-4/5 text-[#f0f8ff] text-center text-lg md:text-base max-[480px]:text-sm">
    ¡Hola! Soy desarrollador web con enfoque en frontend, pero también disfruto
    el backend. Me gusta crear experiencias digitales claras y funcionales,
    aprender constantemente y mejorar en cada proyecto. En este portafolio verás
    algunos de los proyectos que he realizado.
  </p>
</div>
