.ul {
  display: flex;
  margin-right: 25px;
  margin: 0;
  padding: 0;
}

.li {
  list-style: none;
  padding: 0 5px;
}

.a {
  text-decoration: none;
  color: aliceblue;
  transition: 0.5s;
  padding: 10px 15px;
  display: block;
}

.a:hover {
  color: blueviolet;
  border-bottom: 2px solid blueviolet;
}

/* Tablet and mobile styles */
@media screen and (max-width: 768px) {
  .hamburger {
    display: block !important;
  }
  .ul {
    display: none !important;
  }
  .ul.active {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    margin: 0;
    padding: 40px 0;
    gap: 10px;
  }
}

@media screen and (min-width: 769px) {
  .hamburger {
    display: none !important;
  }
  .ul {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

