.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.divOne {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  height: 30%;
  max-width: 700px;
  margin-bottom: 30px;
}

.title {
  color: blueviolet;
  font-size: 50px;
}

.svg {
  width: 60px;
  height: 60px;
  transition: 0.5s;
}

.svg:hover {
  scale: 1.2;
  filter: brightness(1.2);
}

.text {
  color: aliceblue;
  text-align: center;
}

.divTwo {
  height: 70%;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.tabs {
  color: blueviolet;
  width: 700px;
}

.divProjects {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
  justify-content: center;
}

.divCertificates {
  display: flex;
}

.sliderDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ulNav {
  display: flex;
}

.liNav {
  color: blueviolet;
  list-style: none;
  border: 2px solid blueviolet;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  transition: 0.5s;
}

.liNav:hover {
  background-color: blueviolet;
  color: aliceblue;
}

.containerGeneral {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.containerProjects {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.containerDesigns {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  display: none;
}

.containerTechnologies {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  display: none;
}
