<div
  class="flex items-center gap-2 p-2 rounded-md border-2 border-[#8A2BE2] bg-transparent
transition duration-500 hover:bg-[#7b4ac5] cursor-pointer group"
>
  <img src="/public/Svg/github.svg" class="w-8 h-8" alt="Github" />

  <p
    class="text-xl text-[#8A2BE2] transition duration-500 group-hover:text-white"
  >
    Github
  </p>
</div>
