---
import CertificatesDiv from "../../../Components/Experience/layouts/CertificatesDiv.astro";
---

<div
  id="divTwo"
  class="tab-content w-full max-w-[900px] flex justify-center flex-wrap gap-[30px] md:gap-5 max-[480px]:gap-[15px] max-[320px]:gap-2.5 my-[30px] md:my-5 max-[480px]:my-[15px] max-[320px]:my-2.5 mx-auto px-2.5 md:px-1.5 max-[480px]:px-0"
>
  <CertificatesDiv
    src="/Assets/GanadorHackathon.jpeg"
    title="Cerificado de desarrollador web junior"
    text="Por: Talento Tech"
    link="https://marketplace.canva.com/EAFxfGg4MDo/1/0/1600w/canva-certificado-de-reconocimiento-elegante-azul-y-blanco-MyYwE3QmneE.jpg"
  />
  <CertificatesDiv
    src="/Assets/ParticipanteHackathon.jpeg"
    title="Ganador Hackaton"
    text="Por: Talento Tech"
    link="https://marketplace.canva.com/EAFxfGg4MDo/1/0/1600w/canva-certificado-de-reconocimiento-elegante-azul-y-blanco-MyYwE3QmneE.jpg"
  />
  <CertificatesDiv
    src="/Assets/GanadorHackathon.jpeg"
    title="Cerificado de participacion Hackathon Presencial"
    text="Por: Talento Tech"
    link="https://marketplace.canva.com/EAFxfGg4MDo/1/0/1600w/canva-certificado-de-reconocimiento-elegante-azul-y-blanco-MyYwE3QmneE.jpg"
  />
  <CertificatesDiv
    src="/Assets/GanadorHackathon.jpeg"
    title="Cerificado de participacion Hackathon Virtual"
    text="Por: Talento Tech"
    link="https://marketplace.canva.com/EAFxfGg4MDo/1/0/1600w/canva-certificado-de-reconocimiento-elegante-azul-y-blanco-MyYwE3QmneE.jpg"
  />
</div>
