---
import ProjectsDiv from "../../../Components/Experience/layouts/ProjectsDiv.astro";
---

<div
  id="divOne"
  class="w-full max-w-[900px] flex justify-center flex-wrap gap-[30px]"
>
  <!-- <ProjectsDiv
    src="/Assets/booklive1.png"
    title="Book Live"
    text="Guarda un mensaje para ese libro especial"
    link="Projects/BookLive"
  /> -->

  <ProjectsDiv
    src="/Assets/taskly.png"
    title="Tasky"
    text="Anota tus cosas por hacer para que no las pases por alto"
    link="Projects/Taskly"
  />
  <ProjectsDiv
    src="/Projects/serverCasero.jpg"
    title="Server autohosteado"
    text="Server creado desde 0, autohosteado para que mis proyectos personales tengan host"
    link="Projects/Taskly"
  />
  <ProjectsDiv
    src="/Assets/notte-home.jpeg"
    title="Notte"
    text="Guarda tus ideas por medio de notas, rapido y sencillo"
    link="Projects/Notte"
  />
</div>
