.main {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divOne {
  min-height: 20vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}

.divTwo {
  margin-top: 30px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column; /* ✅ en móvil se apila */
  gap: 20px;
  align-items: center;
  justify-content: center;
  /* padding: 0 1rem; */
}

@media (min-width: 768px) {
  .divTwo {
    flex-direction: row; /* info a la izquierda, foto a la derecha */
    align-items: flex-start;
  }
}
