---
import Layout from "../../layouts/Layout.astro";
import style from "./style.module.css";
---
<Layout>
<main class={style.main}>
  <div class="">
    <h1>Sobre mi</h1>
    <p>Desarrollador de aplicaciones webs</p>
  </div>
</main>

</Layout>
