---
import TitleDiv from "../../Components/AboutMe/TitleDiv/index.astro";
import InfoDiv from "../../Components/AboutMe/InfoDiv/index.astro";
import ProfileImg from "../../Components/AboutMe/ProfileImg/index.astro";
import Layout from "../Layout.astro";
---

<Layout>
  <main class="w-full h-auto flex flex-col items-center justify-start">
    <div class="min-h-[20vh] p-5 md:p-0 flex items-end justify-center text-center">
      <TitleDiv />
    </div>
    <div
      class="mt-[30px] w-full max-w-[1200px] p-5 md:p-0 flex flex-col md:flex-row gap-5 items-center md:items-start justify-center"
    >
      <InfoDiv />
      <ProfileImg />
    </div>
  </main>
</Layout>
