---
import style from "./style.module.css";
---

<div class={style.divOne}>
  <h1 class={style.title}>Proyectos Y Tecnologias</h1>
  <p class={style.text}>
    Estos proyectos representan mi evolución como desarrollador. A través de
    ellos he aprendido a resolver problemas, estructurar ideas y construir
    soluciones funcionales. Cada uno ha sido una oportunidad para crecer, probar
    cosas nuevas y seguir puliendo mi forma de trabajar.
  </p>
</div>
