.divTechnologies {
  border-radius: 5px;
  /* background-color: #7b4ac5; */
  background-color: transparent;
  border: 2px solid blueviolet;
  padding: 5px;
  width: auto;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.5s;
}

.divTechnologies:hover {
  background-color: #7b4ac5;
  color: aliceblue;
}

.divTechnologies:hover p {
  color: aliceblue;
}

.svg {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.text {
  font-size: 20px;
  color: blueviolet;
}
