---
import style from "./style.module.css";
---

<div class={style.div} >
  <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExd2d2aHY0eXhzaXRqaGo3a3k1OWRxZnl2dTNya2s0cnJyYnI2ZzIybiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/mTBt13Gun7PHGFcKPp/giphy.gif" alt="GIF animado sin fondo" class={style.img} />
</div>
